.catalogue{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  height: 1000px;
  width: 100%;
  /* border: 2px solid purple; */
  padding: 5px;
  height: auto;
}
.header{
  color: teal;
  text-align: center;
  margin: 30px auto;
}
#myBtnContainer{
  margin: 25px auto 10px auto;
  width: 88%;
  /* border: 2px solid red; */
}

.container {
    overflow: hidden;
  }
  .container{
    /* border: 2px solid green; */
    margin: 5px auto;
    width: 96%;
    height: 900px;
    height: auto;
    padding: 10px;
  }
  .filterDiv {
    float: left;
    color: #ffffff;
    color: #000;
    width: 300px;
    height: 450px;
    line-height: 100px;
    text-align: center;
    margin: 45px;
    display: none; /* Hidden by default */
    flex-direction: column;
  }
  
 
  .show {
    display: block;
  }
  
 
  .btn {
    border: 2px solid #006d6d;
    border: 1.5px solid teal;
    outline: none;
    padding: 12px 16px;
    background-color: #fff;
    color: teal;
    cursor: pointer;
    margin: 5px 20px 5px 0;
    width: 120px;
    font-size: 16px;
  }
  

  .btn:hover {
    background-color: #ddd;
    background-color: teal;
    color: white;
  }
  
 
  .btn.active {
    background-color: teal;
    color: white;
  }
.tables, .chairs, .beds, .sofas, .tv{
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.19);
}
.card-box{
  /* border: 2px solid red; */
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.card-image img{
  height: 260px;
  width: 225px;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 30px;
  /* border: 2px solid purple; */
}
.card-content{
  height: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.card-box h4{
  /* border: 2px solid salmon; */
  padding: 0;
  height: 30px;
}
.card-box p{
  /* border: 2px solid yellow; */
  height: 35px;
}
.card-button{
  /* border: 2px solid green; */
  margin: 40px 0;
}
.card-button button{
  width: 150px;
  height: 40px;
  background-color: teal;
  color: #fff;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}
.adjust{
  display: flex;
  
}

