/* #03989e */
/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  padding: 5px 10px;
  height: 85px;
}

ul {
  list-style-type: none;
}
a{
  color: teal;
  text-decoration: none;
}
a:hover {
  /* text-decoration: underline; */
  color: white;
}
.navbar{
  background-color: #fff;
}
.menu{
  height: 70px;
}
.menu li {
  font-size: 19px;
  padding: 5px;
  /* white-space: nowrap; */
  /* border: 2px solid red; */
}
.logo img{
  height: 65px;
  width: 70px;
  margin: 5;
}
.logo a,.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}
.material-icons{
  color: #006d6d;
  font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
  
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: wheat; */
}
.toggle {
  order: 1;
}

.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  background: teal;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  background: teal;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }
  
  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: #ddd;
  } 
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .nav-icon{
    order: 1;
  }
  .menu li {
      padding: 10px 5px;
      margin: 0px 20px;
  }
  .logo img{
      padding: 5px;
      margin: 0 5px;
      
      /* background-color: yellow; */
  }
  .logo{
      /* background-color: #999; */
      height: 80px;
      margin-top: 0;
      padding: 5px;
  }
  .menu li.button {
      padding-right: 0;
  }
}

/*landing page*/
.landing-page{
    display: flex;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.55), rgba(0,0,0,0.55)), url('../images/home-bg.jpg');
   
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    
    z-index: -1; 
    justify-content: center;
    align-items:flex-start;

}
.heading-button{
    /* border: 2px solid white; */
    padding: 40px;
    width: 55%;
    height: 350px;
    height: auto;
    margin: auto;
    margin-left: 40px;
}
.heading{
    /* border: 2px solid green; */
    width: 100%;
  
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    /* font-family: var(--font1) ; */
}
.heading h1{
    margin:  18px 0;
}
.heading p{
    margin: 10px 0;
    line-height: 1.5;
}
.head-btn{
    /* border: 2px solid red; */
    cursor: pointer;
    
}
.head-btn button{
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
    width: 140px;
    height: 50px;
    padding: 10px;
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
}
.head-btn a{
    color: #fff;
}

/*contact section*/

.contact-section{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url('../images/contact-1-bg.jpeg');
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url('../images/contact-1-bg.jpeg');
 
    z-index: -1;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.contact-section .contact-info{
    max-width: 800px;
    text-align: center;
}
.contact-section .contact-info h2{
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}
.container-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px ;
}
.container-section .info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-section .info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container-section .info .box .contact-icon{
    min-width: 60px;
    height: 60px ;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container-section .info .box .contact-text{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300; 
    justify-content: center;
}
.contact-form{
    width: 50%;
    padding: 40px;
    background: #fff;
}
.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .inputBox input, .contact-form .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contact-form .inputBox input:focus ~span, 
.contact-form .inputBox textarea:focus ~span,
.contact-form .inputBox input:valid ~span
.contact-form .inputBox textarea:valid ~span{
    color: teal;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact-form .inputBox input[type="submit"]
{
    width: 120px;
    background: teal;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.5s;
}
.contact-form .inputBox input[type="submit"]:hover
{
    background: #e70752;
    font-size: 14px;
}
@media (max-width: 991px)
{
    .contact-section
    {
        padding: 50px;
    }
    .container-section
    {
        flex-direction: column;
    }
    .container-section .info{
        margin-bottom: 40px;
    }
}
